{
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "parser": "typescript",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "semi": true,
  "useTabs": false
}
